<!--
  ~ Copyright (c) 2020 Adam Coldrick
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License"); you may
  ~ not use this file except in compliance with the License. You may obtain
  ~ a copy of the License at
  ~
  ~         http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  ~ WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
  ~ License for the specific language governing permissions and limitations
  ~ under the License.
  -->

<template>
  <div class="board-list">
    <h1><FontAwesomeIcon icon="columns" fixed-width />Boards</h1>
    <Spinner v-if="loading" :fullScreen="true" />
    <BoardListItem v-for="board in boards" :key="board.id" :board="board" />
  </div>
</template>

<script>
import { library } from '@fortawesome/fontawesome-svg-core'
import { faColumns } from '@fortawesome/free-solid-svg-icons'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

import board from '@/api/board.js'

import BoardListItem from '@/components/BoardListItem.vue'
import Spinner from '@/components/Spinner.vue'

library.add(faColumns)

export default {
  name: 'BoardListView',
  components: {
    BoardListItem,
    FontAwesomeIcon,
    Spinner
  },
  data () {
    return {
      boards: [],
      loading: false
    }
  },
  created () {
    this.getBoards(this.$route.query)
  },
  methods: {
    async getBoards (filters = {}) {
      this.$router.push({ query: filters })
      const params = {
        ...filters,
        limit: 10
      }

      this.boards = []
      this.loading = true
      this.boards = await board.browse(params)
      this.loading = false
    }
  }
}
</script>

<style lang="scss" scoped>
.svg-inline--fa {
  margin-right: 30px;
  color: $grey-400;
}
</style>
