<!--
  ~ Copyright (c) 2020 Adam Coldrick
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License"); you may
  ~ not use this file except in compliance with the License. You may obtain
  ~ a copy of the License at
  ~
  ~         http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  ~ WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
  ~ License for the specific language governing permissions and limitations
  ~ under the License.
  -->

<template>
  <div class="user-list">
    <h1>Users</h1>
    <UserListItem v-for="user in users" :key="user.id" :user="user" />
  </div>
</template>

<script>
import user from '@/api/user.js'

import UserListItem from '@/components/UserListItem.vue'

export default {
  name: 'UserListView',
  components: {
    UserListItem
  },
  data () {
    return {
      users: []
    }
  },
  created () {
    this.getUsers()
  },
  methods: {
    async getUsers () {
      const params = {
        limit: 10
      }
      this.users = await user.browse(params)
    }
  }
}
</script>
