<template>
  <div class="board">
    <div class="flex-row">
      <h3>
        <router-link :to="'/board/' + board.id">
          {{ board.id }}. {{ board.title }}
        </router-link>
      </h3>
      <div class="metadata">
        <p>
          <span class="text-muted">Created</span>
          <DateInline :date="board.created_at" />
        </p>
        <p>
          <span class="text-muted">Last Updated</span>
          <DateInline v-if="board.updated_at" :date="board.updated_at" />
          <DateInline v-else :date="board.created_at" />
        </p>
      </div>
    </div>
    <div class="flex-row">
      <div class="metadata">
        <div class="text-muted">{{ board.description }}</div>
      </div>
      <div class="metadata">
        <div class="badge" :class="laneBadgeClass(lane)" v-for="lane in board.lanes" :key="lane.list_id">
          {{ lane.worklist.items.length }}
          <span class="text-muted">
            {{ lane.worklist.title }}
          </span>
        </div>
        <div class="badge" v-if="board.lanes.length == 0">
          No lanes
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import DateInline from '@/components/DateInline.vue'

export default {
  name: 'BoardListItem',
  components: {
    DateInline
  },
  props: {
    narrow: {
      type: Boolean,
      default: false
    },
    board: {
      type: Object,
      default () {
        return {}
      }
    }
  },
  methods: {
    laneBadgeClass (lane) {
      return {
        populated: lane.worklist.items.length > 0
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.board {
  padding: 20px;
  border-top: solid 1px $grey-100;

  .flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    h3 {
      margin: 0;
      font-size: 1.25em;
    }
  }

  .metadata {
    display: flex;
    align-items: center;

    .text-muted {
      color: $grey-600;
    }

    p {
      margin: 0.5em 1em 0 1em;
    }
  }

  .details-wide {
    display: flex;
    align-items: center;
  }

  .badge {
    display: inline-block;
    text-align: center;
    padding: 6px 12px;
    margin: 0 5px;
    border-radius: 20px;
    min-width: 80px;
    background-color: $grey-100;
    color: $grey-900;

    .text-muted {
      color: $grey-700;
    }

    &.populated {
      background-color: $yellow-100;
      color: $yellow-900;

      .text-muted {
        color: $yellow-800;
      }
    }
  }
}
</style>
