<!--
  ~ Copyright (c) 2020 Adam Coldrick, Jack Coldrick
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License"); you may
  ~ not use this file except in compliance with the License. You may obtain
  ~ a copy of the License at
  ~
  ~         http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  ~ WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
  ~ License for the specific language governing permissions and limitations
  ~ under the License.
  -->

<template>
  <div class="chip">
    <slot />
    <FontAwesomeIcon class="chip-delete" v-if="this.delete" icon="times" @click="$emit('delete')" />
  </div>
</template>

<script>
import { faTimes } from '@fortawesome/free-solid-svg-icons'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import { library } from '@fortawesome/fontawesome-svg-core'

library.add(faTimes)

export default {
  name: 'Chip',
  components: {
    FontAwesomeIcon
  },
  props: {
    delete: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style lang="scss">
.chip {
  display: flex;
  align-items: center;
  font-size: 14px;
  justify-content: space-between;
  padding: 6px 12px;
  margin: 0 5px;
  background-color: $yellow-100;
  color: $yellow-900;
  border-radius: 20px;
}

.chip-delete {
  background: $yellow-300;
  color: $yellow-800;
  font-size: 12px;
  cursor: pointer;
  border-radius: 50%;
  padding: 4px 6px;
  margin-left: 8px;
  position: relative;
  transition: background 0.2s;

  &:hover {
    background: $yellow-400;
  }
}
</style>
