<!--
  ~ Copyright (c) 2020 Adam Coldrick
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License"); you may
  ~ not use this file except in compliance with the License. You may obtain
  ~ a copy of the License at
  ~
  ~         http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  ~ WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
  ~ License for the specific language governing permissions and limitations
  ~ under the License.
  -->

<template>
  <div class="event-details">
    <p class="event-title">
      <UserLinkInline v-if="event.author_id" :user-id="event.author_id" />
      updated this story on {{ createdDate.toDateString() }}
      at {{ createdDate.toLocaleTimeString() }}
    </p>
  </div>
</template>

<script>
import UserLinkInline from '@/components/UserLinkInline.vue'

export default {
  name: 'EventStoryUpdated',
  components: {
    UserLinkInline
  },
  props: ['event'],
  computed: {
    createdDate () {
      return new Date(this.event.created_at)
    }
  }
}
</script>
