<!--
  ~ Copyright (c) 2020 Adam Coldrick
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License"); you may
  ~ not use this file except in compliance with the License. You may obtain
  ~ a copy of the License at
  ~
  ~         http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  ~ WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
  ~ License for the specific language governing permissions and limitations
  ~ under the License.
  -->

<template>
  <div class="project-group-project-list">
    <Spinner v-if="loading" :fullScreen="true" />
    <ProjectFilters @filter-change="getProjects" />
    <ProjectListItem v-for="project in projects" :key="project.id" :project="project" />
    <div v-if="!projects.length">
      No matching stories found.
    </div>
  </div>
</template>

<script>
import project from '@/api/project.js'

import ProjectFilters from '@/components/ProjectFilters.vue'
import ProjectListItem from '@/components/ProjectListItem.vue'
import Spinner from '@/components/Spinner.vue'

export default {
  name: 'ProjectGroupTabStories',
  props: ['projectGroup'],
  components: {
    ProjectFilters,
    ProjectListItem,
    Spinner
  },
  data () {
    return {
      loading: false,
      projects: []
    }
  },
  created () {
    this.getProjects(this.$route.query)
  },
  methods: {
    async getProjects (filters = {}) {
      this.$router.push({ query: filters })
      const params = {
        ...filters,
        project_group_id: this.projectGroup.id,
        limit: 10
      }

      this.projects = []
      this.loading = true
      this.projects = await project.browse(params)
      this.loading = false
    }
  }
}
</script>
