<!--
  ~ Copyright (c) 2020 Adam Coldrick
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License"); you may
  ~ not use this file except in compliance with the License. You may obtain
  ~ a copy of the License at
  ~
  ~         http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  ~ WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
  ~ License for the specific language governing permissions and limitations
  ~ under the License.
  -->

<template>
  <div class="project-group flex-row" @click="expanded = !expanded">
    <div class="flex-row">
      <span class="expander">
        <FontAwesomeIcon icon="caret-down" v-if="!expanded" fixed-width />
        <FontAwesomeIcon icon="caret-up" v-if="expanded" fixed-width />
      </span>
      <div class="content">
        <h3>
          <router-link :to="'/project-group/' + projectGroup.id">
            {{ projectGroup.id }}. {{ projectGroup.name }}
          </router-link>
        </h3>
        <div class="metadata" v-if="expanded">
          <ul>
            <li v-for="project in projects" :key="project.id">
              <router-link :to="'/project/' + project.id">
                {{ project.name }}
              </router-link>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="metadata">
      <p>
        {{ projects.length }}
        <span class="text-muted">projects</span>
      </p>
      <p>
        <span class="text-muted">Created</span>
        <DateInline :date="projectGroup.created_at" />
      </p>
      <p>
        <span class="text-muted">Last Updated</span>
        <DateInline v-if="projectGroup.updated_at" :date="projectGroup.updated_at" />
        <DateInline v-else :date="projectGroup.created_at" />
      </p>
    </div>
  </div>
</template>

<script>
import { library } from '@fortawesome/fontawesome-svg-core'
import { faCaretDown, faCaretUp } from '@fortawesome/free-solid-svg-icons'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

import project from '@/api/project.js'

import DateInline from '@/components/DateInline.vue'

library.add(faCaretDown)
library.add(faCaretUp)

export default {
  name: 'ProjectGroupListItem',
  components: {
    DateInline,
    FontAwesomeIcon
  },
  props: {
    narrow: {
      type: Boolean,
      default: false
    },
    projectGroup: {
      type: Object,
      default () {
        return {}
      }
    }
  },
  data () {
    return {
      expanded: false,
      projects: []
    }
  },
  created () {
    this.getProjects()
  },
  methods: {
    async getProjects () {
      const params = {
        project_group_id: this.projectGroup.id
      }

      this.projects = []
      this.loading = true
      this.projects = await project.browse(params)
      this.loading = false
    }
  }
}
</script>

<style lang="scss" scoped>
.project-group {
  padding: 20px;
  border-top: solid 1px $grey-100;

  h3 {
    margin: 0;
    font-size: 1.25em;
  }

  .metadata {
    display: flex;
    align-items: center;

    .text-muted {
      color: $grey-600;
    }

    p {
      margin: 0.5em 1em 0 1em;
    }

    ul {
      list-style: none;
      line-height: 1.5em;
      margin: 15px 0 0 0;
      padding: 0;

      a {
        color: $grey-800;
        font-weight: 500;
      }
    }
  }

  .expander {
    cursor: pointer;
  }

  .svg-inline--fa {
    margin-right: 10px;
    color: $red-700;
    font-size: 22px;
  }

  &:hover {
    cursor: pointer;
    background-color: $white;

    .svg-inline--fa {
      color: $red-500;
    }
  }
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: first baseline;
}
</style>
