<!--
  ~ Copyright (c) 2020 Adam Coldrick, Jack Coldrick
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License"); you may
  ~ not use this file except in compliance with the License. You may obtain
  ~ a copy of the License at
  ~
  ~         http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  ~ WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
  ~ License for the specific language governing permissions and limitations
  ~ under the License.
  -->

<template>
  <div :class="{ fullScreen }">
    <div class="spinner"></div>
  </div>
</template>

<script>
export default {
  name: 'Spinner',
  props: ['fullScreen']
}
</script>

<style lang="scss">
.fullScreen {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70vh;
}

.spinner {
  font-size: 10px;
  margin: 50px auto;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: linear-gradient(to right, $red-300, $red-500);
  position: relative;
  animation: spin 1.4s infinite linear;
  transform: translateZ(0);
}

.spinner:before {
  width: 50%;
  height: 50%;
  background: $grey-000;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.spinner:after {
  background: $grey-000;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

</style>
