<!--
  ~ Copyright (c) 2020 Adam Coldrick
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License"); you may
  ~ not use this file except in compliance with the License. You may obtain
  ~ a copy of the License at
  ~
  ~         http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  ~ WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
  ~ License for the specific language governing permissions and limitations
  ~ under the License.
  -->

<template>
  <div class="story-list">
    <div class="story-column">
      <h2>Subscriptions</h2>
    </div>
  </div>
</template>

<script>
export default {
  name: 'UserTabSubscriptions',
  props: ['user']
}
</script>

<style lang="scss" scoped>
.story-list {
  display: flex;
  justify-content: space-between;
  text-align: left;

  .story-column {
    flex: 1 1 0;
  }
}
</style>
