<!--
  ~ Copyright (c) 2020 Adam Coldrick
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License"); you may
  ~ not use this file except in compliance with the License. You may obtain
  ~ a copy of the License at
  ~
  ~         http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  ~ WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
  ~ License for the specific language governing permissions and limitations
  ~ under the License.
  -->

<template>
  <div class="story-list">
    <div class="story-column">
      <h2>Created by {{ user.full_name }}</h2>
      <StoryListItem v-for="story in createdStories" :key="story.id" :story="story" narrow />
    </div>
    <div class="story-column">
      <h2>Assigned to {{ user.full_name }}</h2>
      <StoryListItem v-for="story in assignedStories" :key="story.id" :story="story" narrow />
    </div>
  </div>
</template>

<script>
import story from '@/api/story.js'

import StoryListItem from '@/components/StoryListItem.vue'

export default {
  name: 'UserTabStories',
  components: {
    StoryListItem
  },
  props: ['user'],
  data () {
    return {
      assignedStories: [],
      createdStories: []
    }
  },
  created () {
    this.getStoriesByCreator(this.$route.params.id)
    this.getStoriesByAssignee(this.$route.params.id)
  },
  methods: {
    async getStoriesByCreator (creatorId) {
      const params = {
        creator_id: creatorId,
        limit: 10
      }
      this.createdStories = await story.browse(params)
    },
    async getStoriesByAssignee (assigneeId) {
      const params = {
        assignee_id: assigneeId,
        limit: 10
      }
      this.assignedStories = await story.browse(params)
    }
  }
}
</script>

<style lang="scss" scoped>
.story-list {
  display: flex;
  justify-content: space-between;
  text-align: left;

  .story-column {
    flex: 1 1 0;
    margin: 0 1%;
  }
}
</style>
