<!--
  ~ Copyright (c) 2020 Adam Coldrick
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License"); you may
  ~ not use this file except in compliance with the License. You may obtain
  ~ a copy of the License at
  ~
  ~         http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  ~ WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
  ~ License for the specific language governing permissions and limitations
  ~ under the License.
  -->

<template>
  <div class="user">
    <img :src="avatar" />
    <div class="details">
      <router-link :to="`/user/${user.id}`">
        <h2>{{ user.full_name }}</h2>
      </router-link>
      <p class="metadata">{{ user.email }}</p>
    </div>
  </div>
</template>

<script>
import user from '@/api/user.js'

export default {
  name: 'UserListItem',
  props: ['user'],
  data () {
    return {
      avatar: ''
    }
  },
  created () {
    this.avatar = user.getAvatarUrl(this.user, 60)
  }
}
</script>

<style lang="scss" scoped>
.user {
  display: flex;
  align-items: center;

  padding: 20px;
  border-top: solid 1px $grey-100;

  img {
    margin-right: 20px;
    border-radius: 100%;
  }

  h2 {
    margin: 0;
    font-weight: 300;
  }

  .metadata {
    margin: 0;
    color: $grey-600;
  }
}
</style>
